
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	
	<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
	<div>
		<p>Подключение шаблона</p>
		<a class="btn btn-primary" href="#">content</a>
		@RenderBody()
	</div>
	
	<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="lib/jquery/jquery.js"></script>

</body>
</html>
