
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	<link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />

	@RenderSection("Head")

</head>
<body>
	
	@RenderBody()

	@*<script src="lib/bootstrap/dist/js/bootstrap.js"></script>*@
	<script src="lib/jquery/jquery.js"></script>

	@RenderSection("Scripts")

</body>
</html>
