/* The Maker Bus Stylesheet */

@import url(http://fonts.googleapis.com/css?family=Marmelad&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #fff;
	color: #666;
	font-family: 'Open Sans', arial, sans-serif;
	width: 960px;
	margin: 30px auto 0 auto;
}

.header-vmv {
	display: flex;
	height: 140px;
	border-bottom: 5px solid #000;
	justify-content: space-around;
	align-items: center;
}

.logo-vmv {
	display: block;
	//margin-bottom: 10px;
	width: 200px;
	//border: 2px solid red;
	flex-grow: 2;
}

.logo-vmv img {
	width: 100%;
}

.menu-vmv {
	display: flex;
	flex-direction: column;
	flex-grow: 8;
}

.h1-vmv {
	font-size:36px;
	text-align: center;
	font-weight: normal;
	//height: 90px;
	
	
	//overflow: hidden;
}

.nav-vmv {
	display:flex;
	justify-content:space-around;
	font-family: marmelad, arial, sans-serif;
	//float: right;
	//width: 600px;
	padding-top: 10px;
	font-size: 1.4em;
	text-align: center;
	text-transform: uppercase;
	//border: 2px solid red;
}

.nav-vmv a {
	//margin: 0 30px;
}
/*nav a {
	padding-left: 30px;
}*/
.nav-vmv a:hover, a.current {
	color: #d71a00;
}

.nav-vmv a {
	text-decoration: none;
	//color: #000;
}

.active-vmv {
	color: #d71a00;
}

//----------------------------------
