h1{
	color:blue;
}

#list{
	list-style:none;
	//font-weight:bold;
	display:block;

}



ul.list {
	list-style: none;
	display: flex;
	//height: 30px;
	align-items: center;
	justify-content: flex-start;
	border: 2px solid blue;
}

ul.list li {
	display: flex;
	margin: 10px;
	padding: 10px;
	//width: 70px;
	border: 1px solid red;

	/*align-content: center;
	text-align: center;
	align-items: center;*/
}


.clear-float:after{
	content:"";
	display:block;
	clear:both;
}