@{
	Layout = "_Layout";
}

@section Head{

	<link href="scss/book/c08.min.css" rel="stylesheet" type="text/css" />

}

<header><h1>МОЗГОВОЙ ШТУРМ</h1></header>
<h2>Штурм произойдет в городах:</h2>
<section id="content"></section>

@section Scripts {
	<script src="js/book/data-xml.js"></script>
	<script src="js/my/scripts.js"></script>

}
