@{
	Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Head{
	
	<link href="~/scss/book/c08.min.css" rel="stylesheet" type="text/css" />
}

@section Body{
	<button id="send">Получить данные </button>
	<h2>Штурм произойдет в городах:</h2>
	<section id="content"></section>
}

@section Scripts {

	@*<script src="js/book/data-xml.js"></script>*@
	<script src="js/book/data-json.js"></script>
}
