@{
	Layout = "_Layout";
}

@section Head{
	<link href="~/scss/book/c08.min.css" rel="stylesheet" type="text/css" />
}

@section Body{

	<h2>Регистрация</h2>

	<div class="register-box">

		<div class="register-image"></div>

		<form asp-antiforgery="false" id="register" class="register-form" method="post">
			
			@Html.AntiForgeryToken()

			<label for="name">Логин</label>
			<input type="text" id="name" name="name" />

			<label for="password">Пароль</label>
			<input type="password" id="password" name="password" />

			<label for="email">E-mail</label>
			<input type="email" id="email" name="email" />

			@*// Очистка от float*@
			<div Style="clear: both;"></div>

			@*Отправка данных на сервер через Ajax*@
			<input class="submit-form" type="submit" value="Register" />
		</form>

	</div>

	<div id="newContentVMV"></div>
}

@section Scripts {

	@*<script src="js/book/data-xml.js"></script>*@
	@*<script src="~/js/book/jq-get.js"></script>*@
	<script src="~/js/my/postServerInfo.js"></script>

}
